<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Multi-Model Ollama chat!</h1>
    <div id="chat" class="chat"></div>
    <div class="text-box-pai">
        <textarea id="pergunta" class="text-box" placeholder="Digite sua mensagem"></textarea>
    </div>
    <!--<button onclick="enviarPergunta()">Enviar</button>-->



    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>